<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapaDoIntercambista"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.auth.CadastroAgenciaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.LoginAgenciaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.EscolhaAcessoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.CompletarPerfilGoogleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.perfil.SuporteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.perfil.TermosUsoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.perfil.ConfiguracoesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.destinos.DetalheDestinoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.forum.NovaRespostaActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.forum.NovaPublicacaoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.perfil.ContaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.CadastroActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.forum.RespostasForumActivity"
            android:exported="false" />
        <activity
            android:name=".activity.forum.ForumActivity"
            android:exported="false" />
        <activity
            android:name=".activity.destinos.DestinosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>